.kld-daypicker {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: solid 1px blueviolet;
}

.kld-daypicker__header {
  align-items: center;
  border-bottom: 1px solid $bg-light-grey;
  display: flex;
}

.kld-daypicker__header-title {
  color: $dark-grey;
  display: flex;
  flex-grow: 1;
  font-size: $f-m;
  font-weight: 600;
  justify-content: center;
  padding: $l 0;
}

.kld-daypicker__header-close {
  cursor: pointer;
  height: $xl;
  padding-right: $s;
  width: $xl;
}

.kld-daypicker__month {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $l;
}

.kld-daypicker__month-name {
  color: #6a6a6a;
  font-size: $l;
  font-weight: 500;
}

.kld-daypicker__month-chevron {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  // height: $xl !important;
  margin: 0;
  padding: 0;
  // width: $xl !important;
  &:disabled {
    cursor: not-allowed;
  }
}

.kld-daypicker__dow {
  border-bottom: solid 1px $bg-light-grey;
  display: flex;
  flex-grow: 1;
  justify-content: start;
  margin: 0 $l;
  padding: $l 0;
}

.kld-daypicker__dow-item {
  color: $light-grey;
  display: flex;
  flex-basis: 14%;
  font-size: $f-s;
  font-weight: 600;
  justify-content: center;
}
