.kld-test {
  height: auto;
  width: 390px; 
}

.kld {
  align-items: center;
  display: flex;
  position: relative;
}

.kld__input {
  border-radius: $xs;
  border: solid 1px #dddddd;
  flex-grow: 1;
  padding: 1em 1em 1em 3em;
}

.kld__icon {
  height: $xl;
  padding-left: $s;
  position: absolute;
  width: $xl;
}