// Color
$kaodim-brand : #ed193a;
$kaodim-red-40: #f4a3b0;
$kaodim-orange: #f5a623;
$kaodim-orange-10: #fef6e9;
$dark-grey: #262626;
$mild-grey: #4a4a4a;
$light-grey: #9b9b9b;
$bg-light-grey: #f2f2f2;

// Spacing
$xs: 0.25em;
$s: 0.5em;
$m: 0.75em;
$l: 1em;
$xl: 1.5em;
$xxl: 2em;

// Font Sizes
$f-xxl: 32px;
$f-xl: 28px;
$f-l: 24px;
$f-m: 20px;
$f-xm: 18px;
$f-sm: 15px;
$f-s: 14px;